.accueilStyle{
    background-image: url("onglerie.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcomeSection1{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4) ;
    font-family: Arial, sans-serif;
    color: pink;
    font-size: x-large;
    margin-top: 250px;
}
.texte1{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.rdv{
    background: linear-gradient(to left, rgb(251, 59, 91), pink);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 250px;
    margin-left: 40%;
    margin-top: 90px;
    color: white;
    border-radius: 50px;
    font-size: 18px;
}
.imgStyle{
    height: 300px;
    width: auto;
   
}
.tableauImg{
    
}
.tableau-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}
.serviceStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
}
.services{
    background-color: rgb(252, 223, 237);
}
.service{
    background-color: pink;
    width: 220px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
    text-align: center;
}
.contacterStyle{
    display: flex;
}