* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navStyle {
    background-color: pink;
    width: 100%;
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logoStyle {
    height: 100px;
    width: auto;
}

.lienMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem; 
    margin-right: 10px;
    font-size: 18px;
}

.inputSearch:focus {
    width: 300px; 
}

.lienNav {
    text-decoration: none;
    color: #d81b60;
    font-weight: bold;
    transition: color 0.3s ease;
    flex-wrap: wrap;
}

.lienNav:hover {
    color: #f8268c96;
}

.btnMenu {
    display: none;
}

.titre {
    font-size: 2.5rem;
    font-weight: 700;
    color: #d81b60;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.icon {
    margin-right: 15px;
    font-size: 25px;
}
.login1, .login2 {
    border-radius: 30px;
    border: 3px #d81b60 solid;
    width: 130px;
    height: 40px;
    text-align: center;  
    font-size: 17px;  
    font-weight: 400;
}
.btnAuth {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.login2{
    background: linear-gradient(to left, #feabca, #ff6ba1);
    color: white;
    /* text-align:center; */
}
.login1{
    color: #d81b60;
    
}
.login1:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 80px rgb(253, 2, 94);
    cursor: pointer;
}
.login2:hover{
        transform: translateY(-2px);
        box-shadow: 0 2px 80px rgb(253, 2, 94);
        cursor: pointer;
}


@media screen and (max-width: 768px) {
    .navStyle {
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-between;
        display: flex;
    }
    
    .logoStyle {
        height: 80px;
    }
    .lienMenu {
        /* flex-direction: column;  */
        width: 100%;
        display: none; 
        margin-top: 1rem;
        font-weight: 100px;
        flex-wrap: wrap;
    }

    .lienNav:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 80px rgb(253, 2, 94);
        border-radius: 10px;
       
    }

    .lienMenu.open {
        display: flex;
        background-color: pink;
        gap: 10px;
    }

    .inputSearch {
        width: 70%;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 50px;
    }

    .lienNav {
        width: 100%;
        text-align: center;
        padding: 0.75rem 0;
        border-top: 1px solid #ffc0cb;
       
    }

    .btnMenu {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: #d81b60;
        font-weight: bold;
    }

    
}